body{
	font-family: Poppins;
	
	margin-right: auto;
	margin-left: auto;
}


h1, h2, h3 {
			margin:0;
			font-family: Poppins;
			 font-weight: bold;
		}

p{ padding: 0 45px;
	text-indent: 25px;
	text-align: justify; 
}

.logo img{
		border-radius: 50%;
		width: 150px;
}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #D8BFD8;
	padding: 30px;
	margin-left: 0;
	margin-right: 0;
}

nav > a {
		text-decoration: none;
		color: #ffff;
		font-weight: 700;
		font-size: 28px;
		font-family: Poppins;

}

nav ul{
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
}

nav ul li{
		text-align: center;
		width: 100%;
		font-size: 1.5em;
		padding: 2%; 
}

nav ul li a {
			display: inline-block;
			padding: 10px 0;
			width: 100%;
			text-decoration: none;
			color: #ffff; 
}

header {

	background-image: url('../img/fundo.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #FFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;
	
}

header p {
		margin-bottom: 2em;
		font-size: 1.7em;
}

@media screen and (min-width: 768px) {
			nav{	
				flex-direction: row;
				justify-content: space-around;

				}
 
			nav ul{
				flex-direction: row;
				width: 70%;
				}

			}

header {
		height: 500px;
		justify-content: center;
}

header h1 {
		 font-size: 50px;

}

.botao{

	color: #FFFF;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #D8BFD8;
	font-size: .9em;
	border-radius: 10%;
}

.container {
			width: 100%
}

#sobre {

		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		
}

#sobre h2 {
	margin-top: 20px;
	font-size: 2em;
}

.foto img {
		width: 60%;
}

.foto {
	float: left;
	width: 50%;
}

.texto{
	float: right;
	width: 50%;

}

#sobre {
	flex-direction: row;
	flex-wrap: wrap;
	height: 90vh;
	justify-content: center;
	min-height: 80vh
}

#sobre h2 {
		text-align: center;
		width: 100%
}

#sobre div {
	flex-grow: 1;
	flex-basis: 300px;
	padding: 0 10px;

}

